extends ../layout

block content 
  header
    a(href='/fitness')
      img(src='/images/icon.png')
    h1.header Fitness Tracker 
    a.userHead(href='/fitness/' + user._id + '/summary')= user.name
  .container
    h1 Add Exercise
    .exercise-form
      form(action='/fitness/' + user._id + '/' + date + '/exercise-added' method='POST')
        div
        div
          label.exercise(for='exercise') Exercise
          input(type='text' required name='exercise' id='exercise')
        div
          label.exercise(for='calories') Calories Burned
          input.number(type='number' required name='calories' id='calories')
        div
          input.button(type='submit', value='Submit')
          a.cancel(href='/fitness/' + user._id + '/' + date) cancel