extends ../layout

block content
  header
    a(href='/fitness')
      img(src='/images/icon.png')
    h1.header Fitness Tracker 
    a.userHead(href='/fitness/' + user._id + '/summary')= user.name
  .container
    h1 Add Food
    .food-form
      form(action='/fitness/' + user._id + '/' + date + '/food-added' method='POST')
        div
        div
          label.food(for='food') Food
          input(type='text' required name='food' id='food')
        div
          label.calories(for='calories') Calories
          input.number(type='number' required name='calories' id='calories')
        div
          input.button(type='submit', value='Submit')
          a.cancel(href='/fitness/' + user._id + '/' + date) cancel